<div class="star-rating-container">
    <div class="star-rating" data-field-name="{{ widget.name }}" data-current-rating="{{ widget.value }}">
        <input type="hidden" name="{{ widget.name }}" value="{{ widget.value }}" id="{{ widget.attrs.id }}" />
        <div class="stars">
            <i class="fas fa-star star" data-rating="1"></i>
            <i class="fas fa-star star" data-rating="2"></i>
            <i class="fas fa-star star" data-rating="3"></i>
            <i class="fas fa-star star" data-rating="4"></i>
            <i class="fas fa-star star" data-rating="5"></i>
        </div>
        <div class="rating-text">
            {% if widget.value %}
                {{ widget.value }} out of 5 stars
            {% else %}
                Click to rate
            {% endif %}
        </div>
    </div>
</div> 