asgiref==3.8.1
certifi==2025.6.15
charset-normalizer==3.4.2
cloudinary==1.36.0
dj-database-url==3.0.0
dj3-cloudinary-storage==0.0.6
Django==5.2.3
django-allauth==65.9.0
idna==3.10
pytz==2025.2
requests==2.32.4
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.2
urllib3==1.26.20
whitenoise==6.9.0
