 <div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="categories" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="categories">
                <a href="{% url 'products' %}?category=Cleansers" class="dropdown-item">Cleanser</a>
                <a href="{% url 'products' %}?category=Toners" class="dropdown-item">Toner</a>
                <a href="{% url 'products' %}?category=Serums" class="dropdown-item">Serum</a>
                <a href="{% url 'products' %}?category=Moisturizers" class="dropdown-item">Moisturizer</a>
                <a href="{% url 'products' %}?category=Sunscreens" class="dropdown-item">Sunscreen</a>
                <a href="{% url 'products' %}?category=Scrubs" class="dropdown-item">Scrubs</a>
                <a href="{% url 'products' %}?category=lotions" class="dropdown-item">Lotion</a>
            </div>
        </li>

        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'wishlist:wishlist' %}" id="wishlist-link">
                 <i class="fas fa-heart"></i> Wishlist
            </a>
        </li>
        {% endif %}

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'faq_list' %}" id="specials-link">
                 FAQ's
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'contact:contact' %}" id="contact-link">
                 Contact US
            </a>
        </li>
    </ul>
</div>
