<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="categories" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="categories">
                <a href="" class="dropdown-item">Cleanser</a>
                <a href="" class="dropdown-item">Toner</a>
                <a href="" class="dropdown-item">Serum</a>
                <a href="" class="dropdown-item">Moisturizer</a>
                <a href="" class="dropdown-item">Sunscreen</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="skin-concern" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Skin Concern
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="skin-concern">
                <a href="" class="dropdown-item">Ageing Skin</a>
                <a href="" class="dropdown-item">Skin Discoloration</a>
                <a href="" class="dropdown-item">Dull Skin</a>
                <a href="" class="dropdown-item">Redness prone skin</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 FAQ's
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="contact-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Contact US
            </a>
        </li>
    </ul>
</div>
