{% load static %}

<!doctype html>
<html lang="en">

<head>

  {% block meta %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
    content="Skin0clock_ng - Your destination for premium skincare products,expert skincare tips, and ingredient-focused education.Discover healthy, radiant skin at any time of day.">
  <meta name="keywords" content="skincare products, skincare tips, moisturizers, serums, acne treatment, skin hydration, sensitive skin care, face creams, clean beauty, healthy skin, skincare education,
     skin0clock_ng, skin0clock, natural skincare, glowing skin routine">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  <!-- Favicon -->
  <link rel="icon" href="{% static 'assets/favicon/favicon.ico' %}" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/favicon/favicon-16x16.png' %}">

  {% block corecss %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  {% endblock %}

  {% block extra_css %}
  <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet">
  {% endblock %}

  {% block corejs %}
  <script src="https://kit.fontawesome.com/ea2dabe01a.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <!-- Stripe -->
  <script src="https://js.stripe.com/v3/"></script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>Skin0clock_ng {% block extra_title %}{% endblock %}</title>
</head>

<body>
  <header class="container-fluid fixed-top bg-white border-bottom">
    <nav class="navbar navbar-expand-lg navbar-light">
      <!-- Logo -->
      <a class="navbar-brand" href="{% url 'home' %}">
        <h2 class="logo-font text-black my-0"><strong>SKIN'0'CLOCK_NG</strong></h2>
      </a>

      <div class="collapse navbar-collapse">
        <form method="GET" action="{% url 'products' %}" class="d-none d-lg-block mx-auto w-50" role="search"
          aria-label="Site Search">
          <div class="input-group">
            <label for="desktop-search-input" class="sr-only">Search products</label>
            <input id="desktop-search-input" class="form-control border border-black rounded-0" type="text" name="q"
              placeholder="Search our site" aria-label="Search products">
            <div class="input-group-append">
              <button class="btn btn-black border border-black rounded-0" type="submit" aria-label="Submit search">
                <i class="fas fa-search" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </form>



        <!-- Account and Cart -->
        <ul class="navbar-nav ml-auto text-center">
          <!-- My Account Dropdown -->
          <li class="nav-item dropdown me-lg-4 me-2">
            <a class="nav-link dropdown-toggle text-black" href="#" id="user-options" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user fa-lg"></i>
              <div class="d-lg-none">My Profile</div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
              {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
              <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
              {% endif %}
              <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
              <a href="{% url 'wishlist:wishlist' %}" class="dropdown-item">
                <i class="fas fa-heart"></i> My Wishlist
                {% if wishlist_count > 0 %}
                <span class="badge badge-primary">{{ wishlist_count }}</span>
                {% endif %}
              </a>
              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
              {% else %}
              <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
              <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
              {% endif %}
            </div>
          </li>

          <!-- Cart -->
          <li class="nav-item">
            <a class="nav-link {% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %}"
              href="{% url 'view_bag' %}" aria-label="View shopping bag">
              <i class="fa-solid fa-cart-shopping"></i>
              <div class="d-lg-none">Cart</div>
              <p class="my-0 d-none d-lg-block">
                {% if grand_total %}
                £{{ grand_total|floatformat:2 }}
                {% else %}
                £0.00
                {% endif %}
              </p>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid px-0">
      <div class="row bg-white" id="nav-margin">
        <nav class="navbar navbar-expand-lg navbar-light w-100 gx-0 px-0">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
            aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          {% include 'includes/mobile-top-header.html' %}
          {% include 'includes/main-nav.html' %}
        </nav>
      </div>
      <div id="delivery-banner" class="row text-center">
        <div class="col bg-black text-white">
          <h3 class="logo-font my-1">Free delivery on orders over £{{ free_delivery_threshold|default:"50.00" }}!
          </h3>
        </div>
      </div>
    </div>
  </header>

  {% if messages %}
  <div class="message-container">

    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    {% include 'includes/toasts/toast_error.html' %}
    {% elif level == 30 %}
    {% include 'includes/toasts/toast_warning.html' %}
    {% elif level == 25 %}
    {% include 'includes/toasts/toast_success.html' %}
    {% else %}
    {% include 'includes/toasts/toast_info.html' %}
    {% endif %}
    {% endwith %}
    {% endfor %}
  </div>
  {% endif %}

  {% block page_header %}
  {% endblock %}

  <main class="main-content">
    {% block content %}
    {% endblock %}
  </main>

  <footer class="footer py-4">
    <div class="container">
      <div class="row">
        <!-- Left Column -->
        <div class="col-md-6 text-md-left text-center mb-4 mb-md-0 mt-md-3">
          <p class="mb-4">
            <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer" class="text-light">
              Join our skincare community
              <i class="fa-brands fa-facebook ml-2"></i> Skin0clock_ng
            </a>
          </p>
          <p class="mb-4">
            Want glowing, healthy skin? Explore expert skincare tips on
            <a href="https://www.healthline.com/health/beauty-skin-care" target="_blank" rel="noopener noreferrer"
              aria-label="Visit Healthline for skincare tips" class="text-light external-link">
              <strong>Healthline Beauty</strong>
            </a> and level up your routine.
          </p>
          <hr>
          <p class="footer-text-small mb-4">
            © Skin0clock_ng mildred_prog
          </p>
        </div>

        <!-- Right Column (Newsletter Signup) -->
        <div class="col-md-6 text-md-right text-center">
          <div class="d-flex justify-content-md-end justify-content-center">
            <div id="mc_embed_signup">
              <form
                action="https://herokuapp.us10.list-manage.com/subscribe/post?u=f1d7376b0ff8da6ef8a7a3ee8&amp;id=eb2c1e856a&amp;f_id=00a146e4f0"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                target="_blank" novalidate>
                <p class="h5 mb-2">Subscribe for Healthy Skin</p>
                <p class="small text-light mb-3">Get skincare tips and exclusive offers right in your inbox</p>

                <div class="mc-field-group form-group">
                  <label for="mc-email" class="form-label">Email address</label>
                  <input type="email" id="mc-email" name="EMAIL" class="form-control mb-3" placeholder="Email address"
                    required aria-required="true">
                </div>

                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none;"></div>
                  <div class="response" id="mce-success-response" style="display:none;"></div>
                </div>

                <div style="position:absolute; left:-5000px;" aria-hidden="true">
                  <input type="text" id="honeypot" name="b_f1d7376b0ff8da6ef8a7a3ee8_eb2c1e856a" tabindex="-1"
                    aria-label="Leave this field empty" value="">
                </div>

                <div class="form-group">
                  <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-sm btn-subscribe">
                    Subscribe
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  {% block postloadjs %}
  <script>
    $('.toast').toast('show');

  </script>

  <script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
  <script>
    (function ($) {
      window.fnames = new Array();
      window.ftypes = new Array();
      fnames[0] = 'EMAIL';
      ftypes[0] = 'email';
      fnames[1] = 'FNAME';
      ftypes[1] = 'text';
      fnames[2] = 'LNAME';
      ftypes[2] = 'text';
      fnames[3] = 'ADDRESS';
      ftypes[3] = 'address';
      fnames[4] = 'PHONE';
      ftypes[4] = 'phone';
      fnames[5] = 'BIRTHDAY';
      ftypes[5] = 'birthday';
      fnames[6] = 'COMPANY';
      ftypes[6] = 'text';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);  
  </script>
  {% endblock %}


</body>

</html>